<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="renttekKeycloakAdminSession" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">renttekkeycloakadmin</argument>
        </arguments>
    </virtualType>
    <type name="Renttek\KeycloakAdmin\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">renttekKeycloakAdminSession</argument>
        </arguments>
    </type>
    <type name="Renttek\KeycloakAdmin\Controller\Adminhtml\Auth\Index">
        <arguments>
            <argument name="session" xsi:type="object">Renttek\KeycloakAdmin\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Renttek\KeycloakAdmin\Controller\Adminhtml\Auth\Callback">
        <arguments>
            <argument name="session" xsi:type="object">Renttek\KeycloakAdmin\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
