<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="renttek_keycloak" type="text" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0">
            <tab>advanced</tab>
            <label>Keycloak Admin</label>
            <resource>Magento_Config::config_system</resource>
            <group id="keycloak" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>keycloak</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auth_server_url" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Keycloak Auth Url</label>
                </field>
                <field id="version" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Keycloak Version</label>
                </field>
                <field id="realm" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Realm</label>
                </field>
                <field id="client_id" type="text" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
            <group id="user" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0">
                <label><![CDATA[User Login & Registration]]></label>
                <field id="roles_allowed_for_login" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Keycloak Realm Roles allowed for login</label>
                    <comment>One role per line, case-sensitive</comment>
                </field>
                <field id="enable_user_creation" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Automatically create new users</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_locale" translate="label" type="select" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Locale</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale</source_model>
                </field>
                <field id="user_attribute_mapping" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Attribute Mapping</label>
                    <frontend_model>Renttek\KeycloakAdmin\Block\Adminhtml\Form\Field\UserAttributeMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="realm_role_to_backend_role_mapping" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Role Mapping</label>
                    <comment>Keycloak Realm Roles to Magento Backend Roles Mapping</comment>
                    <frontend_model>Renttek\KeycloakAdmin\Block\Adminhtml\Form\Field\RealmRoleBackendRoleMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
