<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="renttek_keycloak" type="text" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0">
            <tab>advanced</tab>
            <label>Keycloak Admin</label>
            <resource>Magento_Config::config_system</resource>
            <group id="keycloak" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>keycloak</label>
                <field id="auth_server_url" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Keycloak Auth Url</label>
                </field>
                <field id="version" type="text" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Keycloak Version</label>
                </field>
                <field id="realm" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Realm</label>
                </field>
                <field id="client_id" type="text" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
